<mat-card>
  <mat-toolbar color="primary"> Cursos Disponíveis </mat-toolbar>

  <!-- o pipe async vai se inscrever automaticamente neste observable.
    nao tem necessidade pois estamos usando o first() mas com o async ja fazemos o unsubscribe -->
  <!-- o async sera responsavel por subscrever e iremos usar o mesmo para mostrar na tabela -->
  <!-- loading vai fazer referencia a um template na tela que ficara oculto no html aqui -->
  <div *ngIf="cursos$ | async as courses; else loading">
    <!-- datasource é um array ou um observable
  o angular tem um pipe proprio chamado async que pode ser usado
  caso estivessemos usando array ainda -->
    <table mat-table [dataSource]="courses" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Curso</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}
          <!--  vamos exibir o icone de acordo com a categoia. -->
          <!-- existe no angular uma classe especifica para isso que se chama pipe (transforma) -->
          <!-- dado um valor terei uma logica e retornarei esse valor transformado -->
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">{{ courses.category | category }}</mat-icon> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loading>
    <!-- o angular tem pacote de animações que pode ser usado para melhorar a transição -->
    <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  </ng-template>

</mat-card>
